/* Variables */
$homeBg: #0bcc4b;
$footerBg: #191919;

.homefondo {
  height: 100%;
  width: 100%;
  background-color: $homeBg;
  background-repeat: no-repeat;
  background-size: cover;
}

.contactofondo {
  height: 100%;
  width: 100%;
  background-color: $homeBg;
  background-repeat: no-repeat;
  background-size: cover;
}

$titulohome: #26B2DC;
.h1{
  color: $titulohome;
}

ul{
  list-style: none;
  li {
    color: black;
    font-size: 20px;
    a {
      text-decoration: none;
    }
  }
}


.white {
  color: rgba(255, 255, 255, 0.884);
}

.blue {
  color: rgb(3, 3, 94);
}
